body {
    background-color: beige;
}

/* Estilos gerais para a página de veículos */
.page-title {
    text-align: center;
    font-size: 2.5rem; /* Aumentei o tamanho da fonte para dar mais destaque */
    color: #2c3e50; /* Um tom de azul mais escuro para um visual mais sofisticado */
    margin-bottom: 30px; /* Aumentei o espaço abaixo do título */
    font-family: 'Arial', sans-serif;

    letter-spacing: 1px; /* Aumenta o espaçamento entre as letras */
    font-weight: bold; /* Deixa a fonte em negrito para maior ênfase */
    border-bottom: 2px solid #28a745; /* Adiciona uma linha abaixo do título para separar visualmente */
    padding-bottom: 10px; /* Espaço interno abaixo do título */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semitransparente para destacar o texto */
    border-radius: 8px; /* Bordas arredondadas para um visual mais suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve para dar profundidade */
}


.actions {
    text-align: right;
    margin-bottom: 20px;
}

.btn-new {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s;
    margin-right: 10px; /* Espaçamento à direita */
}

.btn-new:hover {
    background-color: #218838;
}

/* Tabela de veículos */
.vehicle-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
}

.vehicle-table th,
.vehicle-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.vehicle-table th {
    background-color: #f8f9fa;
    color: #333;
}

/* Alterna a cor de fundo das linhas da tabela */
.vehicle-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Fundo para linhas pares */
}

.vehicle-table tr:nth-child(odd) {
    background-color: #fff; /* Fundo para linhas ímpares */
}

.vehicle-table tr:hover {
    background-color: #e9ecef; /* Cor ao passar o mouse */
}

.vehicle-link {
    color: #007bff;
    text-decoration: none;
}

.vehicle-link:hover {
    text-decoration: underline;
}

/* Botões de ações */
.btn-edit,
.btn-delete {
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    margin: 10px; /* Aumentado para maior espaçamento */
    transition: background-color 0.3s;
}

.btn-edit {
    background-color: #ffc107; /* Cor para editar */
}

.btn-edit:hover {
    background-color: #e0a800;
}

.btn-delete {
    background-color: #dc3545; /* Cor para deletar */
}

.btn-delete:hover {
    background-color: #c82333;
}

/* Estilos para detalhes de um veículo individual */
.vehicle-title {
    font-size: 1.8rem;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.vehicle-info {
    margin: 0 auto;
    max-width: 500px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.vehicle-info p {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #555;
}

.vehicle-info p strong {
    color: #000;
}

.actions {
    text-align: center;
    margin-top: 20px;
}

.btn-return {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    margin: 10px; /* Aumentado para maior espaçamento */
}

.btn-return:hover {
    background-color: #0056b3;
}

.form-title {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.error-messages {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.error-messages ul {
    list-style-type: none;
    padding-left: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-actions {
    text-align: center;
    margin-top: 20px;
}

.btn {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    text-decoration: none;
}

.btn:hover {
    opacity: 0.9;
}


.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-form {
    display: flex;
    align-items: center;
    padding: 5px;
}

.search-field {
    margin-right: 10px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.btn-new, .btn-search {
    padding: 12px 24px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 25px; /* Mais arredondado */
    border: none;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.btn-new:hover, .btn-search:hover {
    background-color: #45a049;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Efeito hover com sombra */
}

.btn-info {
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    margin: 10px; /* Aumentado para maior espaçamento */
    transition: background-color 0.3s;
}

.btn-info {
    background-color: #505050; /* Cor para editar */
}

.vehicle-info-title {
    text-align: center; /* Centraliza o título */
    font-size: 2rem; /* Tamanho do texto do título */
    color: #333; /* Cor do texto */
    margin-bottom: 20px; /* Espaçamento inferior */
}

.vehicle-info-table {
    width: 80%; /* Largura da tabela */
    margin: 0 auto; /* Centraliza a tabela */
    border-collapse: collapse; /* Remove espaços entre as células */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve para a tabela */
}

.vehicle-info-table th,
.vehicle-info-table td {
    padding: 12px; /* Espaçamento interno */
    border: 1px solid #ddd; /* Borda das células */
    text-align: left; /* Alinhamento à esquerda */
}

.vehicle-info-table th {
    background-color: #f8f9fa; /* Cor de fundo para o cabeçalho */
    color: #333; /* Cor do texto do cabeçalho */
}

.vehicle-info-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Fundo alternado para linhas pares */
}

.vehicle-image {
    max-width: 150px; /* Largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

.vehicle-info-table {
    width: 100%; /* Ajuste a largura conforme necessário */
    border-collapse: collapse; /* Para remover espaços entre as células */
}

.vehicle-info-table th,
.vehicle-info-table td {
    border: 1px solid #ccc; /* Bordas nas células */
    padding: 10px; /* Espaçamento interno */
    text-align: left; /* Alinhamento do texto */
}

.vehicle-info-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor de fundo para linhas pares */
}

.vehicle-info-table tr:nth-child(odd) {
    background-color: #fff; /* Cor de fundo para linhas ímpares */
}

.vehicle-image {
    max-width: 20%; /* Ajusta a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
}
